*.o
/game/muf/*
/game/logs/*
/src/fbmuck
/configure
/bakup
/config.log
/config.status
/src/fb-announce
/src/fb-olddecompress
/src/fb-resolver
/src/fb-topwords
/src/fbhelp
/game/data/*db.PANIC
/game/data/*db.new
/game/data/*db.old
/game/data/parmfile.cfg
/game/data/server.pem
/game/data/deltas-file
/game/netmuck.pid
/game/data/std-db.db
/game/geo.db
/include/autoconf.h
/include/defines.h
src/version.h
