/*.tar.gz
/main.js
/client/**/*.o
/client/**/*.js
/client/**/*.wasm
/bgplg
/*.html
/game/geo.db
/game/netmuck.pid
/game/muf/*
/game/logs/*
/game/data/parmfile.cfg
/game/data/std-db.db
/tmp
*.tmp
/package-lock.json
/pre.js
/node_modules
/build
/game/std.db
.*.sw?
*.o
*.d
nd
compile_commands.json
.clangd
/htdocs
