.modal { z-index: 3; top: 0; }

.oa { overflow: auto; }
.ar { text-align: right; }
.fl { float: left; }

canvas { vertical-align: inherit; }

#main {
	overflow: hidden;
	/* max-height: calc(100% - 24px); */
}

#term {
	overflow: auto;
	/* max-height: calc(100% - 60px); */
	white-space: break-spaces;
	margin-bottom: 0;
}

body {
        font-family: 'Lucida Console', Monaco, monospace;
	margin: 0;
	image-rendering: pixelated;
        height: 100%;
        overflow: hidden;
        position: relative;
	font-size: 10pt;
}

a {
        background-repeat: no-repeat;
        background-position: center;
}
a,a:visited {
        text-decoration: none;
        cursor: pointer;
}
a:hover { color: white; }

form { margin: 0; }

input {
	width: 100%;
        padding: 8px 11px;
        border-radius: 0 0 10pt 10pt;
        margin: 0; 
        background: #4c504c;
}

form {
	width: 100%;
	z-index: 3;
	display: flex;
	flex-direction: column;
        height: 100%;
}

#term > pre.small { max-height: 30pt; }
#term > pre img.ah { height: 256px; }
/* #term > pre img { margin: 6pt auto; display: block; } */

pre { margin-top: -1em; }
#map {
        /* font-size: 3vh; */
	font-size: 20px;
        margin-bottom: -1em;
        margin-left: -1em;
        margin-top: 0;
        margin-right: 0;
}

#dir {
	position: absolute;
	/* right: 8px; */
	right: 0px;
	/* top: 32px; */
	right: 0px;
}

.sr1 {
        width: 256px;
        height: 256px;
}

/* and (min-device-width: 320px) */ 
/* and (max-device-width: 480px) */
/* and (-webkit-min-device-pixel-ratio: 2) */
/* and (orientation: landscape) { */
@media only screen and (max-height: 600px) {
        #map { font-size: 12px; }
        .sr1 {
                width: 128px;
                height: 128px;
        }

}

@media only screen and (max-width: 760px) {
        #term { font-size: 10px; }
        #map { font-size: 12px; }
        .sr1 {
                width: 128px;
                height: 128px;
        }
}

@media only screen and (max-height: 400px) {
	#map { font-size: 8px; }
}

@media only screen and (max-width: 500px) {
	#map { font-size: 8px; }
}

#contents img, #act img { image-rendering: crisp-edges; }
