:root {
  /* extra colors */
  /* dark colors */
  /* bright colors */
}

.fg0 {
  color: #2c2c2c;
}

.fg1 {
  color: #bd4a6a;
}

.fg2 {
  color: #3a5e46;
}

.fg3 {
  color: #a3975a;
}

.fg4 {
  color: #7389bd;
}

.fg5 {
  color: #8a77ac;
}

.fg6 {
  color: #415c5f;
}

.fg7 {
  color: #8b85a5;
}

.fg8 {
  color: #b4aac1;
}

.fg9 {
  color: #bd4a87;
}

.fg10 {
  color: #53d38a;
}

.fg11 {
  color: #b8cd2e;
}

.fg12 {
  color: #739cbd;
}

.fg13 {
  color: #9589c5;
}

.fg14 {
  color: #16d0ba;
}

.fg15 {
  color: #f5f5f5;
}

.bg0 {
  background-color: #2c2c2c;
}

.bg1 {
  background-color: #bd4a6a;
}

.bg2 {
  background-color: #3a5e46;
}

.bg3 {
  background-color: #a3975a;
}

.bg4 {
  background-color: #7389bd;
}

.bg5 {
  background-color: #8a77ac;
}

.bg6 {
  background-color: #415c5f;
}

.bg7 {
  background-color: #8b85a5;
}

.bg {
  background: #3c403c;
}

.fg {
  color: #c1c3da;
}

.oa {
  overflow: auto;
}

.ar {
  text-align: right;
}

.fl {
  float: left;
}

body {
  caret-color: #9589c5;
  font-family: 'Lucida Console', Monaco, monospace;
  margin: 0;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 10pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f5f5f5;
}

a,
a:visited {
  color: #9589c5;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: white;
}

form {
  margin: 0;
}

input {
  width: 100%;
  border: solid thin #2c2c2c;
  padding: 9pt 11pt;
  border-radius: 0 0 10pt 10pt;
  margin: 0;
  background: #4c504c;
  color: #c1c3da;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.btns {
  position: absolute;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0.05, 0.05, 0.05, 0.1);
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
}

#dir.btns {
  right: 0;
  margin-top: -72px;
}

#act.btns {
  left: 0;
  margin-top: -116px;
  text-align: left;
}

#act.btns > div {
  margin-bottom: 3pt;
}

#contents.btns {
  left: 0;
  margin-top: -48px;
}

.btns a {
  display: inline-block;
  padding: 4pt;
  border: solid thin #2c2c2c;
  background-color: #8a77ac;
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  margin: 2px;
}

.btns a:hover {
  border: solid thin #9589c5;
}

a.mlb {
  margin-left: 48px;
}

input:focus {
  border: solid thin #9589c5;
  outline: #9589c5;
}

#term {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 350pt;
  width: 100%;
  z-index: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 50%;
}

#term > pre {
  overflow: auto;
  margin: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: rgba(0.05, 0.05, 0.05, 0.1);
  text-shadow: 2px 2px 3px black;
}

#term > pre.small {
  max-height: 30pt;
}

#term > pre img.ah {
  height: 256px;
}

#term > pre img {
  margin: 6pt auto;
  display: block;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map > div {
  position: absolute;
  top: 0;
  background-color: rgba(0.05, 0.05, 0.05, 0.1);
  border-radius: 10pt;
  padding: 10pt;
  max-width: 60%;
}
